
mmcv-full==1.5.0
opencv-contrib-python
pymemcache
torch>=1.5
addict==2.4.0
backcall==0.2.0
chardet==5.1.0
charset-normalizer==3.1.0
chumpy==0.70
cycler==0.11.0
cython==0.29.26
decord>=0.6.0
decorator==4.4.2
fonttools==4.38.0
fvcore==0.1.5.post20221221
imageio==2.27.0
imageio-ffmpeg==0.4.8
iopath==0.1.10
ipython==7.34.0
jedi==0.18.2
json-tricks==3.16.1
kiwisolver==1.4.4
matplotlib==3.5.3
matplotlib-inline==0.1.6
https://download.openmmlab.com/mmcv/dist/cu113/torch1.11.0/mmcv_full-1.5.0-cp37-cp37m-manylinux1_x86_64.whl
mmdet==2.23.0
mmpose==0.24.0
moviepy==1.0.3
msgpack==0.6.2
msgpack-numpy==0.4.7.1
munkres==1.1.4
numpy==1.20.3
opencv-python==4.7.0.72
packaging==23.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.4.0
portalocker==2.7.0
proglog==0.1.10
prompt-toolkit==3.0.38
ptyprocess==0.7.0
pycocotools==2.0.6
pygments==2.14.0
pyparsing==3.0.9
python-dateutil==2.8.2
pyyaml==6.0
requests==2.28.2
scipy==1.7.3
tabulate==0.9.0
termcolor==2.2.0
terminaltables==3.1.10
tqdm==4.65.0
traitlets==5.9.0
typing-extensions==4.5.0
urllib3==1.26.15
wcwidth==0.2.6
xtcocotools==1.13
yacs==0.1.8
yapf==0.32.0